@model FlatMate.Web.Areas.Lists.Data.HomeIndexVm

@{
    Layout = "_Layout";
}

<section class="container">
    <div class="title">
        <h2>Meine Listen</h2>
    </div>

    <a asp-area="Lists" asp-controller="ItemList" asp-action="Create" class="btn">Erstellen</a>

    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th width="40%">Name</th>
                <th width="25%" class="centered show-large">Einträge</th>
                <th class="centered show-large">Öffentlich?</th>
                <th class="icon show-large"></th>
                <th class="icon show-large"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var itemList in Model.OwnItemLists)
            {
                <tr>
                    <td><a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@itemList.Id">@itemList.Name</a></td>
                    <td class="centered show-large">@itemList.Items.Count</td>
                    <td class="centered show-large"><input type="checkbox" checked="@itemList.IsPublic" disabled title="Öffentlich?" /></td>
                    <td class="icon show-large"><a asp-area="Lists" asp-controller="ItemList" asp-action="Edit" asp-route-id="@itemList.Id" class="icon-24 icon-pen" title="Bearbeiten"></a></td>
                    <td class="icon show-large"><a asp-area="Lists" asp-controller="ItemList" asp-action="Delete" asp-route-id="@itemList.Id" class="icon-24 icon-cross-circle" title="Löschen"></a></td>
                </tr>
            }
        </tbody>
    </table>

</section>
<section class="container" style="margin-top:5rem;">
    <div class="title">
        <h2>Öffentliche Listen</h2>
    </div>

    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th width="40%">Name</th>
                <th width="25%" class="centered show-large">Einträge</th>
                <th class="centered show-large">Author</th>
                <th class="icon  show-large"></th>
                <th class="icon show-large"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var itemList in Model.PublicItemLists)
            {
                <tr>
                    <td><a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@itemList.Id">@itemList.Name</a></td>
                    <td class="centered show-large">@itemList.Items.Count</td>
                    <td class="centered show-large">@itemList.UserId</td>
                    <td class="icon show-large"><a asp-area="Lists" asp-controller="ItemList" asp-action="Edit" asp-route-id="@itemList.Id" class="icon-24 icon-pen" title="Bearbeiten"></a></td>
                    <td class="icon show-large"><a asp-area="Lists" asp-controller="ItemList" asp-action="Delete" asp-route-id="@itemList.Id" class="icon-24 icon-cross-circle" title="Löschen"></a></td>
                </tr>
            }
        </tbody>
    </table>

</section>
