@model FlatMate.Web.Areas.Lists.Data.ItemListEditVm

@{
    Layout = "_Layout";
}

<section class="container">

    <div class="title">
        <h2>@Model.ItemList.Name bearbeiten</h2>
    </div>

    <form asp-area="Lists" asp-controller="ItemList" asp-action="Edit">
        <fieldset disabled="@(!Model.ItemList.Privileges.IsOwned)">
            <input asp-for="ItemList.Id" type="hidden" />

            <label asp-for="ItemList.Name"></label>
            <input asp-for="ItemList.Name" />

            <label asp-for="ItemList.Description"></label>
            <input asp-for="ItemList.Description" />

            <label asp-for="ItemList.IsPublic"></label>
            <input asp-for="ItemList.IsPublic" />

            <div style="display:flex; justify-content:space-between" hide="@(!Model.ItemList.Privileges.IsEditable)">
                <a asp-area="Lists" asp-controller="ItemList" asp-action="Delete" asp-route-id="@Model.ItemList.Id" class="btn btn-danger" title="Löschen">Löschen</a>
                <input type="submit" value="Speichern">
            </div>
        </fieldset>
    </form>

    <hr />

    <item-list-editor></item-list-editor>

</section>

@section vueTemplates {
    @await Html.PartialAsync("ItemListVue")
}

@section viewData {
    <script type="application/json" id="viewData">
        @Html.Raw(JsonConvert.SerializeObject(Model.ItemList, Json.ViewSerializerSettings))
    </script>
}

@section vueInit{
    <script type="text/javascript">
        FlatMate.Lists.init()
    </script>
}