@model FlatMate.Web.Areas.Lists.ViewModels.ItemListViewVm

@{
    Layout = "_Layout";
}


<section class="container">
    <div class="title">
        <h2>
            @Model.List.Name <small hide="@(Model.List.Privileges.IsOwned)">von @Model.List.Owner.UserName</small>
        </h2>
        <div hide="@(!Model.List.Privileges.IsOwned)">
            <a asp-area="ItemLists" asp-controller="ItemList" asp-action="Edit" asp-route-id="@Model.List.Id" class="icon-24 icon-pen" title="Bearbeiten"></a>
        </div>
    </div>

    <item-list-editor></item-list-editor>

</section>

@section vueTemplates {
    @await Html.PartialAsync("ItemItemListVue")
}

@section viewData {
    <script type="application/json" id="viewData">
        @Html.Raw(JsonConvert.SerializeObject(Model.List, Json.ViewSerializerSettings))
    </script>
}

@section vueInit{
    <script type="text/javascript">
        FlatMate.ItemLists.init()
    </script>
}