@model FlatMate.Web.Areas.Lists.Data.ItemListViewVm

@{
    Layout = "_Layout";
}


<section class="container">
    <div class="title">
        <h2>@Model.ItemList.Name <small hide="@(Model.ItemList.UserId == Model.CurrentUser.Id)">von @Model.ItemList.User.UserName</small></h2>
        <div hide="!Model.IsEditable">
            <a asp-area="Lists" asp-controller="ItemList" asp-action="Edit" asp-route-id="@Model.ItemList.Id" class="icon-24 icon-pen" title="Bearbeiten"></a>
        </div>
    </div>

    <item-list-editor></item-list-editor>

</section>

@section vueTemplates {
    @await Html.PartialAsync("ItemListVue")
}

@section viewData {
    <script type="application/json" id="viewData">
        @Html.Raw(JsonConvert.SerializeObject(Model.ItemList, Json.ViewSerializerSettings))
    </script>
}

@section vueInit{
    <script type="text/javascript">
        FlatMate.Lists.init()
    </script>
}